@model GCD0805App.ViewModels.SharedCoursesViewModel
@{
    ViewBag.Title = "AddTrainees";
}

<h2>Add a new Trainers</h2>


@using (Html.BeginForm("AddTrainees", "Course", FormMethod.Post))
{
    <div class="form-group">
        <label>Trainee</label>
        @Html.HiddenFor(m => m.CourseId)
        @Html.DropDownListFor(m => m.UserId,
            new SelectList(Model.Users, "Id", "Username"),
            new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Add</button>
    </div>
}