@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Courses Management App</h1>
    <p class="lead">The app for manage courses</p>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>This app is only used by FPT Corp members</h2>
        <p> Please Login to continue</p>
    </div>
</div>